@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Manrope&family=Righteous&family=Roboto&display=swap');

* {
    margin: 0;
    font-family: Manrope;
}

$background-color: #02001E;
$nav-container-color: #06005369;
$blue-400: #4299E1;
$blue-500: #3182CE;

.home-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.body-theme {
    background-color: $background-color;
}

.nav-container {
    position: sticky;
    background-color: $nav-container-color;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 10
}

.nav-link-span {
    a {
        margin: 10px;
        color: $blue-400;

        &:hover {
            color: $blue-500;
            text-decoration: none;

        }
    }
}

.blog-spinner {
    display: grid;
    justify-content: center;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 180px
};

.work-card-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
}

.work-card-body {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
}