@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Manrope&family=Righteous&family=Roboto&display=swap');

* {
    margin: 0;
    font-family: Manrope;
    color: white;
}

$background-color: #02001E;
$nav-container-color: #06005369;
$blue-400: #4299E1;
$blue-500: #3182CE;
$sub-header-color: #dee2e6;
$default-card-color: #213363;
$default-card-hover-color: #213d8d;
$mustard-yellow: #FFC436;
$mustard-hover-yellow: #e1ae37;
$instagram-pink:#D53F8C;
$linkedin-blue-color:#0072b1;
$twitter-blue-color: #00acee;
$form-label-gray:#6A6A6A;

.container {
    position: fixed;
    bottom: 0;
    top: 4rem;
    left: 8.5rem;
    right: 8.5rem;
}

.home-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.body-theme {
    background-color: $background-color;
}

.nav-container {
    position: sticky;
    background-color: $nav-container-color;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 10;
}

.nav-link-span {
    a {
        margin-top: 2rem;
        margin-right: 20px;
        color: $blue-400;
        font-size: 1.2rem;
        font-weight: 900;

        &:hover {
            color: $blue-500;
            text-decoration: none;

        }
    }
}

.blog-spinner {
    display: grid;
    justify-content: center;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 180px
};

.work-card-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
}

.work-card-body {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    background-color: $default-card-color;

}

.interests-card {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 17.5rem;
    height: 5rem;
    border-radius: 0;
    background-color: $default-card-color;
    font-size: 2.5rem;
    padding: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $default-card-hover-color;
    }
}

.skills-card {
    background-color: $default-card-color;
    width: 145px;
    height: 130px;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: $default-card-hover-color;
        transform: scale(1.1);
    }
}

.articles-card {
    background-color: $default-card-color;
    width: 20rem;
    height: 30rem;
}

.sub-heading {
    font-size: 1rem;
    color: $sub-header-color;

    &::after {
        content: "";
        width: 120px;
        height: 2px;
        display: inline-block;
        background: $sub-header-color;
        margin: 4px 10px;
    }
}

.about-container {
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

;

.blogs-container {
    width: 85rem;
    padding: 1.3rem 0;
    margin: auto 3rem;
}

;

.profile-image {
    width: 20rem;
    height: 20rem;
}

.article-btn {
    background-color: $mustard-yellow;

    a {
        &:hover {
            text-decoration: none;
        }

    }

    &:hover {
        background-color: $mustard-hover-yellow;

    }
}

.contact-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 55%;
}

.contact-form-card{
    border-radius: 2rem;
    padding: 10px 15px;
    background-color: white;
    label{
        color: $form-label-gray;
        font-weight: 900;

    }
}

.social-container {
    font-size: 3rem;
    margin-top: 7rem;
    svg{
        padding: 10px;
        border-radius: 1.1rem;
        cursor:pointer;
    }
    .instagram{
        background-color: $instagram-pink;
    }

    .linkedin{
        background-color: $linkedin-blue-color;
    }

    .twitter{
        background-color: $twitter-blue-color;
    }

};
    