* {
    margin: 0;
}

$background-color: #02001E;

.home-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.body-theme {
    background-color: $background-color;
}

.nav-container{
    position: sticky;
    background-color: #06005369;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index:10
}

.nav-link-span {
    a{
        margin:10px;
    }
}