* {
    margin: 0;
}

:root {
    --background-color: #02001E;
}

.home-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.body-theme {
    background-color: var(--background-color);
}